
body {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}
.main {
    width: 85%;
}
header {
    display: block;
    background-color: antiquewhite;
}
.viewscorebtn {
    color: blue;
    float: left;
    margin-top: 5px;
    position:absolute;
    top: 15px;
    left: 15px;
}

.time {
  float: right;
margin-top: 5px;
position:absolute;
top: 15px;
right: 35px; 
}

.firstpage {
    /* text-align: center;
    position: relative;
    top : 200px;
    left: -40px;
    transform: translate(0%, 100%); */
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
} 

.form {
    position: relative;
    top: 40px;
}


.hide {
    visibility: hidden;
}
.unhide {
    visibility:visible;
    opacity: 30%;
}

hr {
    position: relative;
    top: 30px;
}
.right {
    color: green;
    position: relative;
    top: 20px;
    text-align: center;
}

.wrong {
    color: red;
    position: relative;
    top: 20px;
    text-align: center;
}

.pagecentre {
    text-align: center;
    position: relative;
    top : 200px;
    left: -40px;
    transform: translate(0%, 100%);
}

.btn {
    outline: 2px; 
    margin:3px;
    display: inline-block;
    border-radius: 12px;
    box-shadow: 1px 1px grey; 
  }

.startbtn {
    font-size: 1.4rem;
    padding: 5px 7px;
    margin: 3px;
    background: var(--secondary);
    color: rgb(192, 31, 31);
}

.homebtn {
    position: relative;
    top: 80px;
    left: 30px;
}

.viewbtn {
    position: relative;
    top:80px;
    left: 20px;
}

.btn:hover {
    background-color: antiquewhite;
}
.btn:active {
    box-shadow: 3px 3px grey;
    background-color: rgb(123, 190, 221);
}

